@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,1000;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
/* Caveat прописной,  */


:root {
    font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
    color: #1f2937;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
    font-family: inherit;
}

    button:hover {
        border-color: #646cff;
    }

    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

.nav-button {
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    color: #1f2937;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

    .nav-button::after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        bottom: 0;
        left: 50%;
        background-color: #8A2BE2;
        transition: all 0.3s ease;
    }

    .nav-button:hover {
        color: #FFD700;
    }

        .nav-button:hover::after {
            width: 100%;
            left: 0;
        }

    .nav-button:focus,
    .nav-button:active,
    .nav-button:focus-visible {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }
